- name: Install system dependencies for OCI SDK (RedHat)
  ansible.builtin.package:
    name: [python3-pip, python3-setuptools, python3-venv, gcc, libffi-devel]
    state: present
  when: ansible_os_family == "RedHat"
  become: yes

- name: Install system dependencies for OCI SDK (Debian)
  ansible.builtin.package:
    name: [python3-pip, python3-setuptools, python3-venv, build-essential, libffi-dev]
    state: present
  when: ansible_os_family == "Debian"
  become: yes

- name: Create OCI venv and install OCI packages
  ansible.builtin.pip:
    name: [pip, oci, oci-cli]
    state: present
    virtualenv: "{{ oci_venv_path }}"
    virtualenv_command: python3 -m venv
  become: yes

- name: Create OCI configuration directory
  ansible.builtin.file:
    path: "/home/{{ service_user }}/.oci"
    state: directory
    owner: "{{ service_user }}"
    group: "{{ service_user }}"
    mode: '0700'
  become: yes

- name: Deploy OCI configuration file
  ansible.builtin.template:
    src: oci_config.j2
    dest: "/home/{{ service_user }}/.oci/config"
    owner: "{{ service_user }}"
    group: "{{ service_user }}"
    mode: '0600'
  become: yes

- name: Check if OCI API key exists
  ansible.builtin.stat:
    path: "/home/{{ service_user }}/.oci/oci_api_key.pem"
  register: oci_key_stat

- name: Generate OCI API private key if missing
  ansible.builtin.command: >
    openssl genrsa -out /home/{{ service_user }}/.oci/oci_api_key.pem 2048
  args:
    creates: "/home/{{ service_user }}/.oci/oci_api_key.pem"
  when: not oci_key_stat.stat.exists
  become: yes
  become_user: "{{ service_user }}"

- name: Generate OCI API public key
  ansible.builtin.command: >
    openssl rsa -pubout -in /home/{{ service_user }}/.oci/oci_api_key.pem
    -out /home/{{ service_user }}/.oci/oci_api_key_public.pem
  args:
    creates: "/home/{{ service_user }}/.oci/oci_api_key_public.pem"
  when: not oci_key_stat.stat.exists
  become: yes
  become_user: "{{ service_user }}"

- name: Fetch public key for manual console upload
  ansible.builtin.slurp:
    src: "/home/{{ service_user }}/.oci/oci_api_key_public.pem"
  register: oci_pub_key

- name: Show Public Key for OCI Console
  ansible.builtin.debug:
    msg: "{{ oci_pub_key['content'] | b64decode }}"
