---
# tasks file for /home/bhupi/ansible/roles/packages
- name: Install Core and Utility packages
  ansible.builtin.package:
    name: "{{ item.pkg }}"
    state: present
  loop: "{{ system_packages[ansible_facts['os_family']].core + system_packages[ansible_facts['os_family']].utilities }}"
  become: true
  tags: [packages, core]

- name: Install Optional quality-of-life packages
  ansible.builtin.package:
    name: "{{ item.pkg }}"
    state: present
  loop: "{{ system_packages[ansible_facts['os_family']].optional }}"
  become: true
  tags: [optional]

- name: Locate zsh binary path
  ansible.builtin.command: which zsh
  register: zsh_path
  changed_when: false

- name: ZSH | Download Starship Installer
  ansible.builtin.get_url:
    url: https://starship.rs/install.sh
    dest: /tmp/starship_install.sh
    mode: '0755'

- name: ZSH | Install Starship Prompt
  ansible.builtin.command:
    cmd: /tmp/starship_install.sh -y
    creates: /usr/local/bin/starship
  become: true

- name: ZSH | Install Oh My Zsh
  ansible.builtin.git:
    repo: 'https://github.com/ohmyzsh/ohmyzsh.git'
    dest: "{{ ansible_facts['user_dir'] }}/.oh-my-zsh"
    depth: 1

- name: ZSH | Install Plugins (Suggestions & Highlighting)
  ansible.builtin.git:
    repo: "{{ item.repo }}"
    dest: "{{ ansible_facts['user_dir'] }}/.oh-my-zsh/custom/plugins/{{ item.name }}"
    depth: 1
  loop:
    - { name: 'zsh-autosuggestions', repo: 'https://github.com/zsh-users/zsh-autosuggestions' }
    - { name: 'zsh-syntax-highlighting', repo: 'https://github.com/zsh-users/zsh-syntax-highlighting.git' }

- name: Ensure Zsh is the default shell
  user:
    name: "{{ ansible_user }}"
    shell: "{{ zsh_path.stdout }}"
  become: true

- name: Ensure Flatpak is installed
  ansible.builtin.package:
    name: flatpak
    state: present
  become: true

- name: Ensure Flathub repository is enabled
  flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
  become: true

- name: Install GUI Apps via Flatpak
  flatpak:
    name: "{{ item }}"
    state: present
    method: system
    remote: flathub
  loop: "{{ flatpak_packages }}"
  become: true
  tags: [apps, gui]

- name: Allow VS Code Flatpak to access host terminal
  ansible.builtin.command: "flatpak override --user --talk-name=org.freedesktop.Flatpak com.visualstudio.code"
  changed_when: false
