#SPDX-License-Identifier: MIT-0
---
# tasks file for wallpaper
- name: Make Wallpaper Script Executable
  file:
    path: "{{ dotfiles_home }}/scripts/wallpaper_wallhaven.sh"
    mode: '0755'
  when: ansible_facts['virtualization_type'] != 'wsl'

- name: Ensure Cronie is installed (RedHat)
  ansible.builtin.package:
    name: cronie
    state: present
  become: yes
  when: ansible_os_family == "RedHat"

- name: Schedule 3 AM Refresh
  cron:
    name: "Daily Wallhaven Refresh via cron"
    minute: "0"
    hour: "3"
    job: "/bin/bash {{ dotfiles_home }}/scripts/wallpaper_wallhaven.sh"
    when: ansible_facts['virtualization_type'] != 'wsl'

- name: Run initial wallpaper fetch
  command: "/bin/bash {{ ansible_facts['user_dir'] }}/dotfiles/scripts/wallpaper_wallhaven.sh"
  register: wallpaper_output
  changed_when: "'Wallpaper updated' in wallpaper_output.stdout"
  when: ansible_facts['virtualization_type'] != 'wsl'
