#SPDX-License-Identifier: MIT-0
---
# tasks file for wallpaper
- name: Make Wallpaper Script Executable
  file:
    path: "{{ dotfiles_home }}/scripts/wallpaper_wallhaven.sh"
    mode: '0755'

- name: Schedule 3 AM Gym Refresh
  cron:
    name: "Daily Wallhaven Refresh"
    minute: "0"
    hour: "3"
    job: "/bin/bash {{ dotfiles_home }}/scripts/wallpaper_wallhaven.sh"

- name: Run initial wallpaper fetch
  command: "/bin/bash {{ ansible_env.HOME }}/dotfiles/scripts/wallpaper_wallhaven.sh"
  register: wallpaper_output
  changed_when: "'Wallpaper updated' in wallpaper_output.stdout"
