---
# Tasks for Debian/Ubuntu systems

- name: Add Tailscale GPG key
  apt_key:
    url: https://pkgs.tailscale.com/stable/ubuntu/{{ ansible_distribution_release }}.noarmor.gpg
    state: present
    keyring: /usr/share/keyrings/tailscale-archive-keyring.gpg

- name: Add Tailscale repository
  apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/tailscale-archive-keyring.gpg] https://pkgs.tailscale.com/stable/ubuntu {{ ansible_distribution_release }} main"
    state: present
    filename: tailscale

- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600
