---
# tasks file for /home/bhupi/ansible/roles/terminal
- name: Install Starship Prompt (Binary)
  shell: curl -sS https://starship.rs/install.sh | sh -s -- -y
  become: true
  args:
    creates: /usr/local/bin/starship

- name: Ensure Local Font Directory Exists
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/.local/share/fonts"
    state: directory
    mode: '0755'

- name: Install DM Mono Nerd Font
  unarchive:
    src: "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/DroidSansMono.tar.xz" # DM Mono is part of the Droid family in Nerd Fonts
    dest: "{{ ansible_facts['user_dir'] }}/.local/share/fonts"
    remote_src: true
    creates: "{{ ansible_facts['user_dir'] }}/.local/share/fonts/Droid Sans Mono Nerd Font Complete.otf"

- name: Set Font in Konsole Profile
  ini_file:
    path: "{{ ansible_facts['user_dir'] }}/.local/share/konsole/my_profile.profile"
    section: "Appearance"
    option: "Font"
    value: "DroidSansMono Nerd Font,11,-1,5,50,0,0,0,0,0"
