[DEFAULT]
user={{ oci_user_ocid }}
fingerprint={{ oci_fingerprint }}
key_file=/home/{{ service_user }}/.oci/oci_api_key.pem
tenancy={{ oci_tenancy_ocid }}
region={{ oci_region }}
ansible_vault_secret_ocid={{ ansible_vault_secret_ocid }}
