---
- name: Ensure sysstat service is enabled and started
  ansible.builtin.service:
    name: sysstat
    state: started
    enabled: true

- name: Get all local users from /etc/passwd
  ansible.builtin.getent:
    database: passwd

- name: Update shell to Zsh for all human users
  ansible.builtin.user:
    name: "{{ item.key }}"
    shell: /bin/zsh
  loop: "{{ ansible_facts.getent_passwd | dict2items }}"
  # Filter: only users with a home in /home (prevents breaking system users)
  when: "'/home/' in item.value[4]"
  become: true

- name: Install Oh My Zsh for all human users
  ansible.builtin.git:
    repo: 'https://github.com/ohmyzsh/ohmyzsh.git'
    dest: "{{ item.value[4] }}/.oh-my-zsh"
    depth: 1
  loop: "{{ ansible_facts.getent_passwd | dict2items }}"
  when: "'/home/' in item.value[4]"
  become: true

- name: Install zsh-autosuggestions plugin
  ansible.builtin.git:
    repo: 'https://github.com/zsh-users/zsh-autosuggestions'
    dest: "{{ item.value[4] }}/.oh-my-zsh/custom/plugins/zsh-autosuggestions"
    depth: 1
  loop: "{{ ansible_facts.getent_passwd | dict2items }}"
  when: "'/home/' in item.value[4]"
  become: true
