---
- name: Sync Environment Across All Nodes
  hosts: all
  gather_facts: yes
  vars:
    target_user: "bhupi"
    dotfiles_repo: "https://github.com/bhupinderhappy777/dotfiles.git"
    target_home: "/home/{{ target_user }}"
    dotfiles_home: "{{ target_home }}/dotfiles"

  tasks:

    - name: Mark dotfiles as safe for Git
      become: yes
      become_user: "{{ target_user }}"
      community.general.git_config:
        name: safe.directory
        value: "{{ dotfiles_home }}"
        scope: global

    - name: Clone dotfiles repo
      become: yes
      become_user: "{{ target_user }}"
      git:
        repo: "{{ dotfiles_repo }}"
        dest: "{{ dotfiles_home }}"
        update: yes

    - name: Check status of .zshrc
      become: yes
      become_user: "{{ target_user }}"
      stat:
        path: "{{ target_home }}/.zshrc"
      register: zshrc_stat

    - name: Purge local .zshrc if not a symlink
      become: yes
      become_user: "{{ target_user }}"
      file:
        path: "{{ target_home }}/.zshrc"
        state: absent
      when: zshrc_stat.stat.exists and not zshrc_stat.stat.islnk

    - name: Link Zsh using Stow
      become: yes
      become_user: "{{ target_user }}"
      command: "stow -R -t {{ target_home }} zsh"
      args:
        chdir: "{{ dotfiles_home }}"

    - name: Force Sync KDE Shortcuts (Source of Truth)
      become: yes
      become_user: "bhupi"
      file:
        src: "/home/bhupi/dotfiles/plasma/.config/kglobalshortcutsrc"
        dest: "/home/bhupi/.config/kglobalshortcutsrc"
        state: link
        force: yes

    - name: Ensure Konsole data directory exists
      become: yes
      become_user: "bhupi"
      file:
        path: "/home/bhupi/.local/share/konsole"
        state: directory
        mode: '0755'

    - name: Link Konsole Profile (Source of Truth)
      become: yes
      become_user: "bhupi"
      file:
        src: "/home/bhupi/dotfiles/konsole/.local/share/konsole/my_profile.profile"
        dest: "/home/bhupi/.local/share/konsole/my_profile.profile"
        state: link
        force: yes

    - name: Set my_profile as the default Konsole profile
      become: yes
      become_user: "bhupi"
      ini_file:
        path: "/home/bhupi/.config/konsolerc"
        section: "Desktop Entry"
        option: "DefaultProfile"
        value: "my_profile.profile"
