---
# Main playbook to install Tailscale on all cloud VMs
- hosts: all
  
  roles:
    - tailscale

  vars_files:
    - "{{ playbook_dir }}/../group_vars/all/vault.yml"

  tasks:
    - name: Display completion message
      debug:
        msg: "Tailscale installation completed on {{ inventory_hostname }}"
