---
# Playbook to update all packages on cloud VMs
- name: Update packages on all cloud VMs
  hosts: cloud
  become: yes
  
  tasks:
    - name: Update apt cache (Debian/Ubuntu)
      apt:
        update_cache: yes
        cache_valid_time: 3600
      when: ansible_os_family == "Debian"
      
    - name: Upgrade all packages (Debian/Ubuntu)
      apt:
        upgrade: dist
      when: ansible_os_family == "Debian"
      register: apt_upgrade
      
    - name: Update yum cache (RedHat/CentOS)
      yum:
        update_cache: yes
      when: ansible_os_family == "RedHat"
      
    - name: Upgrade all packages (RedHat/CentOS)
      yum:
        name: "*"
        state: latest
      when: ansible_os_family == "RedHat"
      register: yum_upgrade
      
    - name: Check if reboot is required (Debian/Ubuntu)
      stat:
        path: /var/run/reboot-required
      register: reboot_required
      when: ansible_os_family == "Debian"
      
    - name: Display reboot requirement
      debug:
        msg: "Reboot is required on {{ inventory_hostname }}"
      when:
        - ansible_os_family == "Debian"
        - reboot_required.stat.exists
